<%= form_for(@quiz.questions.build, url: category_quiz_questions_path(@category, @quiz)) do |f| %>
  <p>
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>