<tr>
	<td><%= quiz.name %></td>
	<td><%= link_to 'Play', category_quiz_path(@category, quiz) %></td>
	<td><%= link_to 'Delete Quiz', [quiz.category, quiz], method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<br>